.nav {
  width: calc(100% - 2.5rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 6rem;
    object-fit: contain;
  }

  &__btn {
    text-decoration: none;
    background-color: white;
    border-radius: 1rem;
    padding: .4rem 1.4rem;
    font-size: .7rem;
    box-shadow: 0 0 .75rem rgba(black, .1);
    font-weight: 700;
    color: var(--neutral-very-dark-cyan);
  }
}